In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Reading Data
link= "C:/Users/Amit/Desktop/Pandas/"
data= pd.read_excel(link+'Movie.xlsx')
data.head(10)

,MOVIE NAME,RATING(IMDB),YEAR,Genre,PEOPLE LIKES(%),BOX OFFICE COLLECTION(cr),DURATION(min),DIRECTOR,CBFC
0,Swades,8.3,2004,Drama,83,34.200,210,Ashutosh Gowariker,U
1,Veer-Zaara,7.9,2004,Drama,93,97.640,196,Yash Chopra,U
2,Khakee,7.5,2004,Drama,86,45.000,193,Rajkumar Santoshi,U/A
3,Lakshya,7.9,2004,Drama,92,41.560,187,Farhan Akhtar,U
4,Police Force: An Inside Story,5.2,2004,Action,80,2.450,160,Dilip Shukla,A
5,Raincoat,7.6,2004,Drama,93,4.876,120,Rituparno Ghosh,U
6,Black Friday,8.6,2004,Crime,92,8.000,167,Anurag Kashyap,A
7,Hum Tum,7.0,2004,Comedy,90,42.600,143,Kunal Kohli,U
8,Ab Tak Chhappan,7.9,2004,Drama,94,22.000,150,Shimit Amin,A
9,Dhoom,6.7,2004,Crime,83,72.470,129,Sanjay Gadhvi,U/A

In [16]:
#Highest Rating Movie
rat=data[data['RATING(IMDB)']>= data['RATING(IMDB)'].max()]
print("Highest Rating Movie:-\n\n",rat.iloc[0])

Highest Rating Movie

 MOVIE NAME                          Kadvi Hawa
RATING(IMDB)                               8.9
YEAR                                      2017
Genre                                    Drama
PEOPLE LIKES(%)                             95
BOX OFFICE COLLECTION(cr)                 0.25
DURATION(min)                               99
DIRECTOR                     Nila Madhab Panda
CBFC                                         U
Name: 383, dtype: object

In [18]:
#Lowest Rating Movie
rat1=data[data['RATING(IMDB)']<= data['RATING(IMDB)'].min()]
print("Lowest Rating Movie:-\n\n",rat1.iloc[0])

Lowest Rating Movie:-

 MOVIE NAME                       Namaste England
RATING(IMDB)                                 1.5
YEAR                                        2018
Genre                                    Romance
PEOPLE LIKES(%)                               41
BOX OFFICE COLLECTION(cr)                   4.18
DURATION(min)                                141
DIRECTOR                     Vipul Amrutial Shah
CBFC                                         U/A
Name: 403, dtype: object

In [21]:
#latest movie
rat2=data[data['YEAR']>= data['YEAR'].max()]
print("Latest Movie:-\n\n",rat2.iloc[0])

Latest Movie:-

 MOVIE NAME                             Sanju
RATING(IMDB)                               8
YEAR                                    2018
Genre                                 Biopic
PEOPLE LIKES(%)                           94
BOX OFFICE COLLECTION(cr)             586.85
DURATION(min)                            161
DIRECTOR                     Rajkumar Hirani
CBFC                                     U/A
Name: 384, dtype: object

In [49]:
#Latest highest rating movie
yr=int(input('Enter the year:'))
m=data[data['YEAR']==yr]
m.head(m.shape[0])
ind=m['RATING(IMDB)'].tolist().index(max(m['RATING(IMDB)'].tolist()))
print("Highest rated movie of Year {} is {}.".format(yr,m.iloc[ind))

Enter the year:2009
Highest rated movie of Year 2009 is 3 Idiots.

In [66]:
#latest High Rated Drama
year=int(input('Enter the year:'))
m1=data[(data['YEAR']==year) & (data['Genre']== 'Drama')]
m1.head(m1.shape[0])
indx=m1['RATING(IMDB)'].tolist().index(max(m1['RATING(IMDB)'].tolist()))
print("Highest rated movie of Year {} is '{}' and is rated {}.".format(year,m1.iloc[indx][0],m1.iloc[indx][1]))

Enter the year:2018
Highest rated movie of Year 2018 is '102 Not Out' and is rated 7.5.